<!-- Estructura del section-->
<div class="container-fluid">
    <div class="d-flex">

      <div class="col-3 sidebar">
        <!-- Menú principal -->
        <app-sidebar></app-sidebar>
      </div>

      <div class="flex-grow-1">
        <div class="d-flex align-items-end flex-column">
          <div class="h-25">
            <!-- Barra de navegación -->
            <app-navbar></app-navbar>
          </div>
          <div class="flex-grow-1">
            <!-- Contenedor mapa -->
            <app-mapa></app-mapa>
          </div>
        </div>
      </div>

    </div>
  </div>
