*{
    font-family: 'Baloo 2';
    font-size: 1rem;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: #cacaca15;
}
.sidebar{
    height: 100%;
    background: #413c69;
    box-shadow: black 1px 1px 4px;
    opacity: .9;
    border-right: 1px solid #0000006b;
}